@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

.outer-slider {
    height: 600px;
    position: relative;
    background-color: rgb(241, 237, 237);
    display: flex;
    align-items: center;
}

.swiper {
    width: 90%;
    height: 80%;
    position: static;
    margin: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 60px 0;
}


.swiper-button-next:after {
    position: absolute;
    top: 168px;
    right: 100px;
    font-size: 15px;
    background-color: rgb(44, 43, 43);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.swiper-button-prev:hover:after {
    border-radius: 50px;
}

.swiper-button-prev:after {
    position: absolute;
    top: 168px;
    left: 1500px;
    font-size: 15px;
    background-color: rgb(44, 43, 43);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.3s ease;
}

.swiper-button-next:hover:after {
    border-radius: 50px;
}

.slider-inner-content {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #fff;
    text-align: left;
    padding: 30px 30px;
    position: relative;
    border: 1px solid #fff;
}

.slider-inner-content:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 23px;
    border: 1px solid rgb(206, 205, 205);
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.slider-inner-content img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -55px;
}

.slider-inner-content h1 {
    font-weight: 500;
    font-size: 35px;
    margin-top: 20px;
    color: rgb(34, 34, 34);
}

.slider-inner-content p {
    text-align: justify;
    margin-top: 10px;
    color: rgb(74, 74, 74);
}