.outer-slider {
    height: 200px;
    position: relative;
    border: 1px solid green;
}

.swiper {
    width: 100%;
    height: 80%;
    border: 1px solid red;
    position: static;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next:after {
    position: absolute;
    top: 90px;
    right: 10px;
    font-size: 15px;
    background-color: rgb(44, 43, 43);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.swiper-button-prev:after{
    position: absolute;
    top: 90px;
    left: 1400px;
    font-size: 15px;
    background-color: rgb(44, 43, 43);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0.3s ease;
}

.swiper-button-next:hover:after {
    background-color: red; 
    color: #000;
    border-radius: 10px;
}